{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <title>登录</title>
  </head>
<body>

{% if latest_question_list %}
    {% for question in latest_question_list %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> <br>
    {% endfor %}

{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="/polls/index/">返回主页</a>

</body>
</html>

